<ion-header>

  <ion-navbar>
    <ion-title>Transações</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="presentFilterModal();">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-slides pager>
    <ion-slide *ngFor="let page of paginatedList; let indexPages = index">

      <ion-list>

        <ion-item *ngFor="let item of page; let indexTransaction = index" (click)="presentDetailsModal(item);">
          <ion-card>
            <ion-card-header>
              Tipo: {{item.tipo.toUpperCase()}} - Situação: {{item.status}}
            </ion-card-header>

            <ion-card-content>
              Beneficiário: {{item.beneficiario.nome}} <br>
              Pagador: {{item.pagador.nome}} <br>
              Valor: {{item.valor | currency:'BRL'}}
            </ion-card-content>
          </ion-card>
        </ion-item>

      </ion-list>


    </ion-slide>
  </ion-slides>


</ion-content>