<ion-header>

  <ion-navbar class="custom-schema">
    <ion-title>Transações</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="presentFilterModal();">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding class="custom-schema">

  <ion-slides #showSlider class="custom-schema" pager>
    <ion-slide *ngFor="let page of paginatedList; let indexPages = index" class="custom-schema">


        <ion-item *ngFor="let item of page; let indexTransaction = index" (click)="presentDetailsModal(item);" class="custom-schema">
          <ion-card class="custom-schema">
            <ion-card-header>
              Tipo: {{item.tipo.toUpperCase()}} - Situação: {{item.status}}
            </ion-card-header>

            <ion-card-content>
              Beneficiário: {{item.beneficiario.nome}} <br>
              Pagador: {{item.pagador.nome}} <br>
              Valor: R$ {{item.valor.toString().replace(".", ",")}}
            </ion-card-content>
          </ion-card>
        </ion-item>


    </ion-slide>
  </ion-slides>


</ion-content>